.shopTitle{
    margin-top:100px;
    text-align:center;
    font-size:45px;
}
.product img{
    width:300px;
    height:300px;
    border-radius: 30px;
    
}
.product{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.products{
    display:grid;
    grid-template-columns: auto auto auto;
    gap:50px;
    place-items:center;

}
.product .description{
    text-align:center;
}
.product:hover{
    transition: 0.3s ease-in;
    cursor:pointer;
}

.btn{
    background:transparent;
    border:2px solid rgb(19,19,19);
    min-width:120px;
    padding:5px 10px;
    border-radius:20px;
    font-size:14px;

}

.btn:hover{
    background:rgb(27, 41, 41);
    color:#fff;
    cursor:pointer;
}


/* .btn{
    background:transparent;
    border: 2px solid rgb(19,19,19);
    min-width:100px;
    padding:5px 10px;
    border-radius:15px;

}

.btn:hover{
    background:rgb(19,19,19);
    color:#fff;
    cursor:pointer;
}
.shopTitle{
    margin-top:100px;
    text-align:center;
    font-size:40px;
}
.products{
    width:100%;
    height:350px;
    margin:100px;
    display:grid;
    grid-template-columns: 0.1fr 0.1fr 0.2fr;
    place-items:center;
}
.product{
    border-radius:15px;
    width:300px;
    height:350px;
    margin:100px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.product img{
    width:350px;
    height:300px;
}
.product .description{
    text-align:center;
}
.product:hover{
    transition: 0.3s ease-in;
    cursor:pointer;
} */
